html {
    background-color: rgb(0, 0, 0);
    background: linear-gradient(to top left, rgb(131, 131, 131), rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-attachment:fixed;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
    margin: 0;
  }
  h1 {
    color: white;
    font-size: 7em;
    font-family: 'Cardo', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }
  input {
    border-right: none;
    border-top: none;
    border-left: none;
    background-color:transparent;
    outline: none;
    color: white;
    caret-color: white;
    font-family: 'Cardo', serif;
  }
  input[type=text] {
    font-size: 2em;
  }
  input[type=number] {
    font-size: 1em;
    text-align: center;
  }
  p {
    font-size: 2em;
    font-family: 'Cardo', serif;
  }
  #playerInfo {
    margin: 0;
    padding: 0;
    right: 1em;
    width: 10%;
    position: fixed;
    height: 100%;
  }
  #answerForm {
    font-family: 'Cardo', serif;
  }
  .answers {
    display: flex;
    font-size: 2em;
  }
  .left {
    width: 30%;
    float: left;
    text-align: right;
}
.right {
    width: 70%;
    margin-left: 10px;
    float:left;
}